 .carousel-control.left, .carousel-control.right {
    background-image: none;
}

.navbar {
	font-family: 'Amatic SC', cursive;
	font-size: 22px;
}

.carousel-inner {
	font-family: 'Amatic SC', cursive;
}

.carousel-inner h3 {
	font-size: 35px;
}

.glyphicon {
	color: gold;
}

.headings {
margin: 20px;
text-align: center;
}

.item {
	height: 500px;
	padding: 0;
}
.item img {
	display: block;
	margin: 0 auto;
	width: 500px;
}

.row a {
	text-decoration: none;
	color: black;
}

.row a:hover {
	color: gold;
}

.btn:hover {
	background-color: yellow;
}

.row, .projects, .about { 
font-family: 'Karla', sans-serif;
}

.carousel-control {
	width: 50%;
	text-shadow: 0 0px 0px rgba(0,0,0,0);
}

.btn {
	font-size: 30px;
}

@media (max-width: 500px) {
	.item { 
		height: 300px;
	}
	.btn {
		font-size: 15px;
	}
}